NUXT_PUBLIC_APP_ENV=development

DB_HOST=dev-db.internal
DB_PORT=3307
DB_USER=membership_dev
DB_PASSWORD=dev-secret
DB_NAME=membership_dev

STAGING_DB_HOST=dev-db.internal
STAGING_DB_PORT=3307
STAGING_DB_USER=membership_dev
STAGING_DB_PASSWORD=dev-secret
STAGING_DB_NAME=membership_dev

PROD_DB_HOST=prod-db.internal
PROD_DB_PORT=3306
PROD_DB_USER=membership_prod
PROD_DB_PASSWORD=prod-secret
PROD_DB_NAME=membership_prod
